<!DOCTYPE html>
<html>
<head>
  <title>Dosser</title>
  <%= stylesheet_link_tag    "dosser/application", media: "all" %>
  <%= javascript_include_tag "dosser/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
